/* src/components/Layout.css */
.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .header {
    background-color: #333A56;
    padding: 1rem;
    text-align: center;
  }
  
  .header-logo {
    height: 50px;
  }
  
  
  .main {
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    width: 250px;
    background-color: #2d3748;
    color: white;
    padding: 1rem;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 1rem;
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .sidebar a:hover {
    text-decoration: underline;
  }
  
  .content {
    flex: 1;
    padding: 2rem;
    background-color: #f7fafc;
    overflow-y: auto;
  }
  
  .btn-novo-chamado {
    display: block;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    background-color: #FFA500; /* Laranja */
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
  }
  
  .menu-title {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .submenu {
    list-style: none;
    padding-left: 1rem;
    margin-top: 0.5rem;
  }
  
  .submenu li {
    margin-bottom: 0.5rem;
  }
  
  .submenu li a {
    font-weight: normal;
  }
  
  /*Dashboard*/
  .card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  flex: 1 1 200px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
